@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@400&family=Rubik+80s+Fade&display=swap');
h1,
p,
.navbar {
  font-family: 'Poppins', sans-serif !important;
}

/* Colores Generales de la página - Modo Claro */
:root {
  --primary-color: #3498db; /* Fondo y colores principales*/
  --secondary-color: #2ecc71; /* Fondo y colores secundarios */
  --accent-color: #3498db; /* Color de acento */
  --decorative-color: #2a5d7f; /* Color decorativo */
  --black-color: #000000;
  --black-color-rgb: 0,0,0;
  --white-color: #ffffff;
  --white-color-rgb: 255,255,255;


  --background-color: #002161;
  --background-color-2: #fc7b0b;
  --background-color-3: #ffffff;
  --background-color-4: #b9d5f1;
  --background-color-5: #1546a7;
  --background-color-6: #2557ba;
  --background-color-7: #0338a3;

  --text-color-3: #000000;
  --text-hover-3: #e74c3c;

  --text-color-2: #1044ad;
  --text-hover-2: #3498db;

  --text-fields: #d5d6d5;

  --text-color-1: #ecf1ec;
  --text-hover-1: #fc7b0b;

  --text-font-1: 'Prompt', sans-serif;
  --text-font-2: 'Prompt', Roboto;
  --color-active-light: rgb(255, 136, 0); /* para el navbar option */

  --divider-color: #a2ada2;
  --border-color: #75767a;

  --danger-color: #df7171;
}

* {
  margin: 0;
  padding: 0;
}


body.dark-mode {
  --primary-color: #1e3a5f; /* Fondo principal */
  --secondary-color: #2a6f4e; /* Fondo y colores secundarios */
  --accent-color: #e63946; /* Color de acento */
  --decorative-color: #1c4e7f; /* Color decorativo */
  --black-color: #000000;
  --white-color: #e5e5e5; /* Blanco más tenue para modo oscuro */

  --background-color: #0d1117; /* Fondo general oscuro */
  --background-color-2: #161b22; /* Segundo plano */
  --background-color-3: #1f2631; /* Tercer plano */
  --background-color-4: #1c2734; /* Fondo decorativo */
  --background-color-5: #2b3a4b; /* Fondo más claro */
  --background-color-6: #22303f; /* Fondo de contraste menor */
  --background-color-7: #2d3748; /* Alternativa para hover */

  --text-color-3: #f0f0f0; /* Texto principal */
  --text-hover-3: #e63946; /* Hover en texto de acento */

  --text-color-2: #ffffff; /* Texto secundario */
  --text-hover-2: #58a6ff; /* Hover en texto enlazado */

  --text-fields: #ffffff; /* Campos de entrada */

  --text-color-1: #ffffff; /* Texto más visible */
  --text-hover-1: #d69e2e; /* Hover cálido */

  --text-font-1: 'Prompt', sans-serif;
  --text-font-2: 'Prompt', Roboto;

  --color-active-dark: #1b91e0; /* para el navbar option */

  --divider-color: #92929244;
  --border-color: #5f626d;
  --danger-color: #db3434;

}
